<aside class="w-64 sticky top-0 left-0 bg-[#2A3F54] text-white shadow-md h-screen">
  <div class="p-4 text-xl font-bold text-gray-700 border-b text-center text-white">Quản Lý Học Sinh</div>
  <nav class="mt-4 space-y-2">
    <a href="/" class="flex items-center px-4 py-2 text-gray-700 hover:bg-red-100 ">
      <i class="fa-solid fa-house text-white "></i>
      <span class="ml-4 text-center text-white">Trang Chủ</span>
    </a>
    <a href="/Student_admission" class="flex items-center px-4 py-2 text-gray-700 hover:bg-gray-200">
      <i class="fa-solid fa-school text-white"></i>
      <span class="ml-4 text-white">Tiếp Nhận Học Sinh</span>
    </a>
    <a href="/Make_class_list" class="flex items-center px-4 py-2 text-gray-700 hover:bg-gray-200">
      <i class="fa-solid fa-book text-white"></i>
      <span class="ml-4 text-white">Lập Danh Sách Lớp</span>
    </a>
    <a href="/Enter_score" class="flex items-center px-4 py-2 text-gray-700 hover:bg-gray-200">
      <i class="fa-solid fa-marker text-white"></i>
      <span class="ml-4 text-white">Nhập Điểm</span>
    </a>
    <a href="/Starting_point" class="flex items-center px-4 py-2 text-gray-700 hover:bg-gray-200">
      <i class="fa-solid fa-file-export text-white"></i>
      <span class="ml-4 text-white">Xuất Điểm</span>
    </a>
    <a href="/Reporting_statistics" class="flex items-center px-4 py-2 text-gray-700 hover:bg-gray-200">
      <i class="fa-solid fa-flag text-white"></i>
      <span class="ml-4 text-white">Thống Kê Báo Cáo</span>
    </a>
    <a href="/Change_rules" class="flex items-center px-4 py-2 text-gray-700 hover:bg-gray-200">
      <i class="fa-solid fa-box-open text-white"></i>
      <span class="ml-4 text-white">Thay Đổi Quy Định</span>
    </a>
    <div class="px-4 pt-4 text-xs font-bold text-gray-500 text-white">Đăng Nhập Tài Khoản</div>
    <a href="/login" class="flex items-center px-4 py-2 text-gray-700 hover:bg-gray-200">
      <i class="fas fa-sign-out text-white"></i>
      <span class="ml-4 text-white">SIGN IN</span>
    </a>
    <a href="/register" class="flex items-center px-4 py-2 text-white hover:bg-gray-200">
      <i class="fas fa-sign-in text-white"></i>
      <span class="ml-4 text-white">SIGN UP</span>
    </a>
  </nav>
</aside>